@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @-moz-document url-prefix() {
    div {
      scrollbar-width: none !important;
    }
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-[#141414] text-white;
  }
  header {
    @apply fixed top-0 z-[200] flex items-center justify-between w-full px-4 py-4 transition-all lg:px-10 lg:py-5;
  }
}

@layer components {
  .navLink {
    @apply cursor-pointer text-sm font-light text-[#e5e5e5] transition duration-300 hover:text-[#b3b3b3];
  }
  .button {
    @apply flex items-center justify-center px-1.5 py-[.4rem] md:py-2 text-[10px] md:text-sm font-semibold transition duration-300 rounded lg:text-base gap-x-1 hover:opacity-70 md:px-6;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  .width-tranisiton {
    transition: width 300ms ease-in-out !important;
  }
  .h-transition {
    max-height: 2500px;
    height: auto;
    transition: max-height 1s cubic-bezier(0.1, 0, 0.1, 1);
    overflow: hidden;
  }
  .h-transition.hide {
    max-height: 0;
  }
  .font-transition {
    transition: font-size 2s ease;
  }
  .border-transition {
    transition: border-color 300ms !important;
  }
  .input {
    @apply w-full rounded bg-[#333333] px-5 pt-5 pb-1 outline-none text-white focus:bg-[#454545];
  }
  .label {
    @apply absolute top-[50%] -translate-y-[50%] left-5 transition-all duration-300 text-sm  pointer-events-none;
  }
  input:focus + .label,
  .filled .label {
    @apply text-[12px] top-[25%];
  }

  .row-wrapper {
    @apply -mb-[185px] md:-mb-[153px];
    transition: height 0s, padding 0s, margin 0s !important;
  }
  .items-wrapper {
    @apply -mt-[210px] md:-mt-[178px] min-h-[500px];
    transition: height 0s, padding 0s, margin 0s !important;
  }
}
